@import "./zoom-controls.scss";
@import "./popup.scss";
@import "./tooltips.scss";

.card-map-container{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    //line-height: 15px;
}

.control-flex-grow-0{
    flex-grow: 0 !important;
}


.control-small{
    font-size: 10px !important;
}



.control-normal{
    font-size: 13px !important;
}

.control-medium{
    font-size: 16px !important;
}

.control-large{
    font-size: 18px !important;
}