.ol-control{
    padding: 0;
    //border-radius: 20%;
    background-color: transparent;
    &:hover{
        background-color: transparent;
    }
    button{
        //background-color: var(--main-bg-color);
        //background-color: inherit;
        //color: var(--accent-color);
        //color: inherit;
        cursor: pointer;
        border-radius: 20%;
        width: 35px;
        height: 35px;
        box-shadow: 1px 1px 8px 3px #00000026;
        line-height: .4em;
        *{
            line-height: inherit;
        }
        &:hover,&:focus{
            background-color: var(--hover-color);
            border: 1px var(--accent-color) solid;
        }
    }
}
.dai-map.inverted-controls .ol-control button{
    background-color: var(--inverted-control-bg-color);
    color: var(--inverted-control-color);
}

.dai-map.default-controls .ol-control button{
    background-color: var(--control-bg-color);
    color: var(--control-color);
    
}

//botones + y -

.dai-zoom{
    right: .5rem;
    top: .5rem;

    .dai-zoom-button{
        margin-bottom: 5px;
        span{
            font-size: 28px;
        }
    }
    
}

.dai-reset{
    left: .5rem;
    bottom: .5rem;
    .dai-reset-button{
        
        span{
            font-size: 28px;
        }
    }
}

.dai-nivel-map{
    left: .5rem;
    bottom: calc(.5rem + 42px);
    &.hidden{
        display: none;
    }
    .dai-nivel-button{
        
        span{
            font-size: 28px;
        }
    }
}

.ol-control.ol-attribution {
    
    font: normal normal 400 10px/12px "Montserrat",sans-serif;
    a{
        color: #236EF0;
    }

    &:hover{
        background-color: white;
    }
}