    //popup mapa
    .ol-popup {
        min-width: 110px;
        background: var(--popup-bg-color);
        color: var(--popup-color);
        box-shadow: 0 2px 4px rgba(0,0,0,.3);
        border-radius: 4px;
        font: normal normal 400 12px/14px "Montserrat",sans-serif;
        padding: .2rem;
        position: absolute;

        *{
            font-size: inherit;
            color: inherit;
        }
        .content{
            padding: .3rem 1.3rem .3rem .3rem;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
        }
        .botones{
            height: .3rem;
            width: 100%;
            .boton-cerrar{
                float: right;
                font-weight: 600;
                cursor: pointer;
                //margin: -.5rem -.5rem -.5rem auto;
                opacity: .6;
                font-size: .9rem;
                width: 1.2rem;
                
                padding: 2px 0 0 0 ;
                text-align: center;
                background-color: var(--popup-color);
                color: var(--popup-bg-color);
                border: none;
                border-radius: 2px;
            }
        }
    }
    .ol-popup-right {
        left: -50px;
    }
    .ol-popup-left {
        right: -50px;
    }
    .ol-popup-top {
        bottom: 15px;
    }
    .ol-popup-bottom {
        top: 25px;
    }
    .ol-popup.ol-popup-right {
        &::before {
            left: 36px;
        }
        &::after {
            left: 37px;
        }
    }
    .ol-popup.ol-popup-left {
        &::before {
            right: 36px;
        }
        &::after {
            right: 37px;
        }
    }
    .ol-popup.ol-popup-top {
        &::before{
            border-width: 13px 11px 0 11px;
            border-color: rgba(0,0,0,.1) transparent transparent;
            bottom: -14px;
        }
        &::after {
            border-width: 12px 10px 0 10px;
            border-color: #fff transparent transparent;
            bottom: -10px;
        }
    }
    .ol-popup.ol-popup-bottom {
        &::before{
            border-width: 0 11px 13px 11px;
            border-color: transparent transparent rgba(0,0,0,.1);
            top: -12px;
        }
        &::after {
            border-width: 0 10px 12px 10px;
            border-color: transparent transparent #fff;
            top: -10px;
        }
    }
    @media screen and (min-width:1200px) {
        .ol-popup {
            white-space: nowrap;
        }
    }