@charset "utf-8";

@import "ol/ol";
@import "components/all";

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "dai-icons";
    src:url("../assets/fonts/icons/dai-icons.eot");
    src:url("../assets/fonts/icons/dai-icons.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/icons/dai-icons.woff") format("woff"),
      url("../assets/fonts/icons/dai-icons.ttf") format("truetype"),
      url("../assets/fonts/icons/dai-icons.svg#dai-icons") format("svg");
    font-weight: normal;
    font-style: normal;
  
  }
 
  
  [data-icon]:before {
    font-family: "dai-icons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
[class^="dai-icon-"]:before,
[class*=" dai-icon-"]:before {
  font-family: "dai-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dai-icon-acercar:before , .dai-icon-collapsed:before {
  content: "\62";
}
.dai-icon-centrar:before {
  content: "\63";
}
.dai-icon-alejar:before , .dai-icon-uncollapsed:before {
  content: "\64";
}
.dai-icon-regresar:before {
  content: "\61";
}
.dai-icon-check:before {
  content: "\65";
}
.dai-icon-cerrar:before {
  content: "\66";
}
.dai-icon-info:before {
  content: "\67";
}
.dai-icon-descargar:before {
    content: "\68";
}
//colores de los controles
$control-bg-color: #fff;
$control-color: #000;
$control-bg-color-hover:lightgray;
$control-bg-color-accent:#000; //color para acentuar o resaltar. por ejemplo en un switch, la opcion seleccionada
$control-color-accent:#fff; //color dentro de las cosas realtadas, por ejemplo el color de texto dentro de un switch seleccionado

$invert-control-bg-color: invert($control-bg-color);
$invert-control-color: invert($control-color);
$invert-control-bg-color-hover:invert($control-bg-color-hover);
$invert-control-bg-color-accent:invert($control-bg-color-accent);
$invert-control-color-accent:invert($control-color-accent);

.card-map-container,.dai-map-container{
    --main-bg-color:white;
    --accent-color:black;
    --main-text-color:black;
    --hover-color:lightgray;
    
    //colores en los controles
    --control-bg-color: #{$control-bg-color};
    --control-color: #{$control-color};
    --control-bg-color-hover:#{$control-bg-color-hover};
    --control-bg-color-accent:#{$control-bg-color-accent};
    --control-color-accent:#{$control-color-accent};
    --inverted-control-bg-color: #{$invert-control-bg-color};
    --inverted-control-color: #{$invert-control-color};
    --inverted-control-bg-color-hover: #{$invert-control-bg-color-hover};
    --inverted-control-bg-color-accent: #{$invert-control-bg-color-accent};
    --inverted-control-color-accent: #{$invert-control-color-accent};
    

    //colores para el tooltip y popup
    --tooltip-bg-color: rgba(0, 0, 0, 0.8);
    --tooltip-color:#fff;
    --popup-bg-color: white;
    --popup-color:black;


}